{% extends "templates/base.html" %}
{% from "templates/macros.html.j2" import show_event %}

{% block title %}
DoEPy - Past Events
{% endblock %}

{% block content %}
  <header class="hero text-center bg-dutc-darkblue py-5">
    <h1 class="text-dutc-lightblue display-1"><span class="fw-light">Python</span><span class="fw-bold"> Exchange</span></h1>
    <p class="mb-0 text-white fs-5">Helping Python Thrive within the National Labs & Department of Energy</p>
    <div>
      <a class="fs-5 text-dutc-lightblue" href="https://mailchi.mp/d4206414de7c/python-exchange-for-doe">
        Join the Python Exchange Mailing List!
      </a>
    </div>
    <div class="container">
      <hr class="text-white" />
    </div>
    <h2 class="pt-3 mb-0 text-dutc-salmon fw-bold display-5">Past Exchanges</h1>
  </header>

  <main>
    <section id="pastEvents" class="d-flex flex-column align-items-center bg-dutc-salmon">
      {% for event in past_events %}
        {{ show_event(event, i=((past_events | length) - loop.index0)) }}
      {% endfor %}
    </section>
  </main>
{% endblock %}
